body {
	background-color: #F0F8FF;
}

canvas {
    border:5px solid #FFFFFF;
    background-color: #f1f1f1;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
	text-align: center;
}